.signup-section {
    position: relative;
    margin-top: -80vh;
}

.signup-section .signup-form {
    width: 500px;
    margin: auto;
    padding: 3rem 2rem;
    background-color: var(--white-color);
    border-radius: .8rem;
    box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07);
    margin-bottom: 2rem;
}

.signup-section .signup-form .signup-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.signup-section .signup-form .signup-btn {
    width: 100%;
    padding: .8rem;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .signup-section .signup-form {
      width: 300px;
      padding: 2rem 1rem;
    } 
}